GEMINI_API_KEY=
ELEVENLABS_API_KEY=


# Path configurations
FFMPEG_PATH=./bin/ffmpeg.exe

# Voice ID settings
ELEVENLABS_VOICE_ID=

# Optional: Rhubarb Lip Sync path if installed
# RHUBARB_PATH=C:/path/to/rhubarb.exe

# Debugging
DEBUG_ELEVENLABS=